<div class="dialog-container">
  <h2 mat-dialog-title>{{ data ? 'Editar Grupo' : 'Crear Grupo' }}</h2>
  <div mat-dialog-content>
    <form [formGroup]="groupForm">
      <!-- Nombre del Grupo -->
      <mat-form-field appearance="fill">
        <mat-label>Nombre del Grupo</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>

      <!-- Descripción del Grupo -->
      <mat-form-field appearance="fill">
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <!-- Selección de Miembros -->
      <mat-form-field appearance="fill">
        <mat-label>Seleccionar Miembros</mat-label>
        <mat-select formControlName="members" multiple>
          <mat-option *ngFor="let member of members" [value]="member.anumber">
            {{ member.name }} - {{ member.expert }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-button (click)="close()">Cancelar</button>
    <button mat-button color="primary" (click)="save()" [disabled]="groupForm.invalid">
      Guardar
    </button>
  </div>
</div>
