<mat-toolbar color="primary" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

  <span class="example-spacer"></span>

  <button mat-button class="button" (click)="navigateToCalendar()">
    <mat-icon>calendar_today</mat-icon>
    Scheduler
  </button>

  <button mat-button class="button" (click)="navigateToTeamwork()">
    <mat-icon>groups</mat-icon>
    teamwork
  </button>

  <div *ngIf="showButton">
    <button mat-button class="button" (click)="navigateToEmployees()">
      <mat-icon>add</mat-icon>
      Employee
    </button>
  </div>

  <button mat-button class="button" (click)="sendlogout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-toolbar>
