<mat-toolbar color="primary" xmlns="http://www.w3.org/1999/html">
  <img src="../../../assets/navbar-logo-1.png" alt="Logo" class="logo-img">

  <span class="example-spacer"></span>

  <div *ngIf="showButtonEmployee else calendarTemplate">
    <button mat-button class="button" (click)="navigateToEmployees()">
      <mat-icon>add</mat-icon>
      Employee
    </button>
  </div>
  <ng-template #calendarTemplate>
    <button mat-button class="button" (click)="navigateToCalendar()">
      <mat-icon>calendar_today</mat-icon>
      Scheduler
    </button>
  </ng-template>

  <button mat-button class="button">
    <mat-icon>login</mat-icon>
    Login
  </button>
</mat-toolbar>
